<main>
    <form action="/cats/edit/{{cat._id}}" method="POST" class="cat-form">
        <h2>Edit Cat</h2>
        <label for="name">Name</label>
        <input name="name" type="text" id="name" value="{{cat.name}}">
        <label for="description">Description</label>
        <textarea name="description" id="description">{{cat.description}}</textarea>
        <label for="image">Image</label>
        <input name="imageUrl" type="text" id="image" value="{{cat.imageUrl}}">
        <label for="group">Breed</label>
        <select name="breed" id="group">

        <option value="{{cat.breed}}">{{cat.breed}}</option>

        </select>
        <button type="submit">Edit Cat</button>
    </form>
</main>
