<section class="profile col-md-6 text-center col-lg" id="profile-page">
    <div class="profile-container">
        <!-- Do not forget to change the path to the image -->
        <!-- Gender of the user determines which picture is displayed as their avatar -->
        <img class="profile-img" src="/images/{{gender}}.png" />
        <p>Email: <span>{{email}}</span></p>
    </div>
    <div class="profile-info">
        <p>Trips History: <span>{{tripsCount}}</span> counts</p>

        <div class="trips-info">
            <!-- If there are trips created by the current logged in user display each of them -->
            {{#if tripsCount}}
            {{#each trips}}
            <p>
                from <span>{{this.startPoint}}</span> to <span>{{this.endpoints}}</span> on
                <span>{{this.date}}</span> at <span>{{this.time}}</span>
            </p>
            {{/each}}
            {{else}}

            <!-- If there are no trips created by the current logged in user display:-->
            <p>there are no offer trips yet...</p>
            {{/if}}
        </div>
    </div>
</section>