<div class="card-box">
    <img src="{{image}}">
    <div>
        <div class="text-center">
            <p class="name">Name: {{name}}</p>
            <p class="artist">Artist: {{artist}}</p>
            <p class="genre">Genre: {{genre}}</p>
            <p class="price">Price: ${{price}}</p>
            <p class="date">Release Date: {{releaseDate}}</p>
        </div>
        <div class="btn-group">
            <a href="/album/details/{{_id}}" id="details">Details</a>
        </div>
    </div>
</div>  