<section id="edit-container">
    <div class="edit-container-info">
        <h1>Edit Announcement</h1>
        <form  method="POST">
            <label>Name:</label>
            <input type="text" id="name" name="name" value="{{name}}" >
            <label>Image:</label>
            <input type="text" id="image" name="image" value="{{image}}">
            <label>Price:</label>
            <input type="number" id="price" name="price" value="{{price}}">
            <label>Description:</label>
            <textarea name="description"
                id="description">{{description}}</textarea>
            <label>Payment method:</label>
            <select id="payment" name="paymentMethod">
                {{#each options}}
                <option value="{{value}}" {{selected}}>{{content}}</option>
                {{/each}}
            </select>
            <input type="submit" id="btn" value="EDIT"></input>
        </form>
    </div>
</section>