<main>
    <section id="deatils-page">
        <div class="wrapper">
            <div class="product-img">
                <img src="{{image}}">
            </div>
            <div class="product-info">
                <div class="product-text">
                    <div class="product-text">
                        <h1>Name: {{name}}</h1>
                        <h2>Type: {{type}}</h2>
                        <h4>Year: {{year}}</h4>
                        <h4>City: {{city}}</h4>
                        <p>Description: {{description}}</p>

                        {{#if allRented}}
                        <p>People rented this housing: {{allRented}}</p>
                        {{else}}                        
                        <p>People rented this housing: There are no tenants yet.</p>
                        {{/if}}
                    </div>
                </div>

                {{#if user}}
                <div class="product-btn">
                    {{#if isOwner}}
                    <a href="/offer/edit/{{_id}}" class="edit">Edit</a>
                    <a href="/offer/delete/{{_id}}" class="remove">Delete</a>
                    {{else}}

                    {{#if hasRented}}
                    <p class="alRentHome">You have already rent this home</p>

                    {{else}}

                    {{#if noHousing}}
                    <p class="no-housing">No Housing Available!</p>                    
                    {{else}}
                    <a href="/offer/rentHome/{{_id}}" class="rentHome">Rent a home, available {{availablePieces}} housing</a>
                    {{/if}}

                    {{/if}}

                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
    </section>
</main>
